cycler==0.9.0
decorator==4.0.6
jicbioimage.core==0.8.0
jicbioimage.illustrate==0.4.0
jicbioimage.segment==0.1.0
jicbioimage.transform==0.5.1
matplotlib==1.5.1
networkx==1.10
numpy==1.10.4
Pillow==3.1.0
pyparsing==2.0.7
python-dateutil==2.4.2
pytz==2015.7
scikit-image==0.11.3
scipy==0.16.1
six==1.10.0
